[submodule "apple-libtapi"]
	path = apple-libtapi
	url = https://github.com/tpoechtrager/apple-libtapi.git
[submodule "cctools-port"]
	path = cctools-port
	url = https://github.com/tpoechtrager/cctools-port.git
[submodule "ldid"]
	path = ldid
	url = https://github.com/ProcursusTeam/ldid.git
[submodule "libplist"]
	path = libplist
	url = https://github.com/libimobiledevice/libplist.git
